<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <style>@import url(/public/css/syntax/{{ site.highlighter-theme }}.css);</style>
  <title>{{ site.title }}</title>
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href="/public/css/style.css" rel="stylesheet">
  <body>
  	<div class="container"> 
		<div class="sidebar">
			{% include sidebar.html %}
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>
  </body>
</html>

<style>
	table{
	  border-left:1px solid #333;border-top:1px solid #333;
	  width: 100%;
	  word-wrap:break-word; word-break:break-all;
	}
	table th{
	text-align:center;
	}
	table th,td{
	  border-right:1px solid #333;border-bottom:1px solid #333;
	}
  </style>
  